---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/heroblog.astro'

import BItem from '../components/blogitem.astro'

import { slide, fade } from 'astro:transitions';

const title = "Welcome to my Blog!";

const allPosts = await Astro.glob('../pages/posts/*.md');

---

<Layout title={title} >
    <main transition:animate={slide({ duration: '0.4s' })} >
		<Hero client:load />
	</main>
    <section transition:animate={fade({ duration: '1s' })}>
    {allPosts.map((post) => <BItem url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} /> )}

 
    </section>
</Layout>

<style>
    section {
        display: flex;
        justify-content: center;
        align-self: center;

        flex-direction: column;
    }
</style>