---
import Layout from "../layouts/Layout.astro"

import Content from "../components/coffeepage.astro"

import { fade } from 'astro:transitions';

const title = "I have no memory of this place..."

---

<Layout title={title}>
    <main transition:animate={fade({ duration: '0.85s' })}>
        <Content />
    </main>
</Layout>

<style>
    main {
        display: flex;

        align-items: center;

        justify-content: center;

        flex-direction: column;

        margin: 30px;
    }
</style>