<style>
    video {
        width: 100%;
        max-width: 650px;
        height: auto;

        border-radius: 25px;

        margin-top: 25px;
    }
</style>

<video autoplay loop muted playsinline aria-label="Small video on a loop. Quote from the Lord of the Rings from Gandalf: I have no memory of this place..." >
    <source src="./gandalf.webm" type="video/webm" />
</video>

<video autoplay loop muted playsinline aria-label="Small video on a loop. Quote from the Star Wars from a droid: Uh, that doesn't compute..." >
    <source src="./droids.webm" type="video/webm" />
</video>

<p>
    <i>
        The princess is in another castle... Whatever you're looking it's not here
    </i>
</p>