<style>
    .container {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: left;
        align-content: center;

        width: 70%;

        margin: 35px 0 0 0;
    }

    h2 {
        text-align: center;
    }

    video {
        width: 100%;
        max-width: 400px;
        height: auto;

        align-self: center;
        
        border-radius: 25px;

        margin: 35px;
    }
</style>

<div class="container">
        <h2>
            Hi! I'm Santiago
        </h2>
        <p>
            I'm an argentinian-italian born at the very beggining of <s>Space & Time</s> the <i>'Gen Z'</i> generation, currently studying a BS in Computer Science. 
        </p>
        <p>
            Besides my love for computers, coding and videogames, I'm also former highschool rugby player. During my free time that's not coding-related, I'm an amateur writer and worldbuilder <i>(I've even participated in a few college contests and did quite well IMO)</i>; said hobbies quickly turned my into the Game Master of an ongoing D&D game these last 5 years.
        </p>
        <video autoplay loop muted playsinline aria-label="Small video on a loop. Quote from The Simpsons from Gary Gygas: Greetings... it's a pleasure to meet you" >
            <source src="./gygax.webm" type="video/webm" />
        </video>
        <p>
            By the very end of 2019, I started working part-time as an entry-level Frontend Developer. Most of my projects were as a lone Frontend Dev doing landing pages or blogs, but in this time span I also had the opportunity to work and collaborate with small teams on a mobile app.
        </p>
</div>