<style>
    .container {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        align-content: center;

        width: 70%;

        margin: 35px 0 0 0;
    }

    video {
        width: 100%;
        max-width: 400px;
        height: auto;
        
        border-radius: 25px;

        margin: 35px;
    }
</style>

<div class="container">
        <h2>
            Welcome to my personal blog!
        </h2>
        <p>
            It is not much, but it is what it is... I'm not just talking about this blog, this is also just how I feel about my knowledge in the field and what I can bring to the table right now. After +700 CV's sent through multiple platforms, a few interviews and being ghosted quite a lot; I decided to start this blog.
        </p>
        <p>
            As an entry-level Frontend Developer, I spent quite a lot of time looking for a full-time job without any luck. Besides a few freelance projects here and there, and seeing hundreds if not thousands applying for the same positions I was applying; I figured that I had level up my programming skills and mindset. College just wasn't enough (I'm currently studying my BS in Computer Science) and the undergraduate degree I hold wasn't either.
        </p>
        <p>
            A lot of what I learned as a Frontend Developer was self-taught but I wasn't getting any better as a programmer, I was just getting better at the tools I used to code. Everytime I learned a new language, framework or library I still felt lost; it took me some time to come to terms with it, but I now acknowledge that I lack strong fundamentals... That's when the imposter syndrome kicked in, and after having a rough time, I decided to reevaluate who I was as a <i>wannabe</i> professional developer. I love computers and I love coding, but I needed to be better if I wanted to stop drifting around, so I've decided to start walking the path towards being a better developer.
        </p>
        <video autoplay loop muted playsinline aria-label="Small video on a loop. Quote from Morpheus to Neo in Matrix: There's a difference between knowing the path and walking the path." >
            <source src="./morpheus.webm" type="video/webm" />
        </video>
        <p>
            So here I am... After a lot of coffee, some alone time and quite a bit of introspection; starting this barebones blog to post and keep track of my progress as I grow. It is not much, it is what it is... But it is important to me and I'm excited to start this journey.
        </p>
        <video autoplay loop muted playsinline aria-label="Small video on a loop. Quote from The Hobbit from Bilbo: I'm going on an adventure!" >
            <source src="./bilbo.webm" type="video/webm" />
        </video>
</div>