<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        transition: 0.5s;
    }

    .container:hover {
        scale: 1.1;
    }

    p {
        font-size: 12px;
        font-weight: 300;
    }
</style>

<div class="container">
    <p>
        Made with 
    </p>
    <div style="align-items: center;">
        <img style="width: 15px;" src="./code.svg" alt="Code symbol outline">
        <img style="width: 15px" src="./coffee.svg" alt="Coffee symbol outline">
        <img style="width: 15px" src="./heart.svg" alt="Heart symbol outline">
    </div>
</div>