<!-- Falta hacerlo Responsive -->

<style>
    .container {
        display: flex;
        justify-content: space-between;

        align-items: center;

        padding: 15px;
    }

    h4 {
        padding: 15px;
        margin: 10px;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline;
        text-align: center;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
    }

    li:hover {
        background-color: #7c561931;
    }

    .link {
        text-decoration: none;
        color: #3a3e4a;
        padding: 10px;
    }


</style>

<!-- SEPARATOR -->

<div class="container">
    <div>
        <a href="/gandalf" aria-label="logo button" >
            <img style="width: 36px" src="/favicon.svg" alt="Coffee Logo">
        </a>
    </div>

    <div class="nav__container">
        <ul>
            <li>
                <a href="/" class="link">
                    Home
                </a>
            </li>

            <li>
                <a href="/blog" class="link">
                    Blog
                </a>
            </li>

            <li>
                <a href="/about" class="link">
                    About
                </a>

            </li>
        </ul>
        

    </div>
</div>

