---

import Frown from '../assets/frown.svg?raw'

---

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;
        row-gap: 15px;
    }

    h1 {
        font-weight: 900;
    }

    video {
        width: 100%;
        max-width: 650px;
        height: auto;

        border-radius: 25px;

        margin-top: 25px;
    }
</style>

<!-- SEPARATOR -->

<div class="container">
    <h1 style="text-align: center">
        Oops!
    </h1>

    <div style="text-align: center">
        <Fragment set:html={Frown} aria-label="Sad face line art" />
        <p>Something went wrong</p>
    </div>
    <video autoplay loop muted playsinline aria-label="Small video on a loop. Meme of a dog saying that everything's fine when everything is on fire around him." >
        <source src="../fine.webm" type="video/webm" />
    </video>
</div>