---

import Coffee from '../assets/coffee.svg?raw';

---

<style>
    .container {
        display: flex;
        flex-direction: column;

        margin-top: 50px;
        row-gap: 15px;
    }

    h1 {
        font-weight: 900;
    }

    video {
        width: 100%;
        max-width: 450px;
        height: auto;
        
        border-radius: 25px;
    }

    .img__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<!-- SEPARATOR -->

<div class="container">
    <h1 style="text-align: center">
        Welcome to my Blog!
    </h1>

    <div style="text-align: center">
        <Fragment set:html={Coffee} aria-label="Coffe line art" />
    </div>

    <div class="img__container">
        <video autoplay loop muted playsinline aria-label="Small video on a loop. Quote from the Lord of the Rings from Pippin: Home is behind, the world ahead" >
            <source src="./pippin.webm" type="video/webm" />
        </video>
    </div>
</div>