<style>
    .container {
        display: flex;
        flex-direction: column;

        margin-top: 50px;
        row-gap: 15px;
    }

    h1 {
        font-weight: 900;
    }

    img {
        width: 100%;
        max-width: 450px;
        height: auto;
        
        border-radius: 25px;
    }

    .img__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<!-- SEPARATOR -->

<div class="container">
    <h1 style="text-align: center">
        Welcome to my Blog!
    </h1>

    <div style="text-align: center">
        <img style="width: 65px; height: 65px" src="./coffee.svg" alt="Coffee Minimalistic Art">
    </div>

    <div class="img__container">
        <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNWxyMG1tbXZjNXo3N2k3M3V4c2kyMzBpeDh3eGhydnhycndra3hhdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JHg1bLBxmVcre/giphy.gif" alt="Pippin quote from Lord of the Rings. Home is behind, the world is ahead">
    </div>
</div>