<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;
        row-gap: 15px;
    }

    h1 {
        font-weight: 900;
    }

    img {
        width: 100%;
        max-width: 650px;
        height: auto;

        border-radius: 25px;

        margin-top: 25px;
    }
</style>

<!-- SEPARATOR -->

<div class="container">
    <h1 style="text-align: center">
        Oops!
    </h1>

    <div style="text-align: center">
        <img style="width: 65px " src="./frown.svg" alt="Coffee Minimalistic Art">
        <p>Something went wrong</p>
    </div>
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMDd5cTRzMHdpeTU2cHgyZGtsaGlmcGU4aXRlczVnaXpqbGh1d2RheiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QMHoU66sBXqqLqYvGO/giphy.gif" alt="Dog meme saying this is fine when everything burns around him">
</div>