<style>
    .container {
        display: flex;
        flex-direction: column;

        margin-top: 50px;
        row-gap: 15px;
    }

    h1 {
        font-weight: 900;
    }
</style>

<!-- SEPARATOR -->

<div class="container">
    <h1 style="text-align: center">
        Just Me, Walking the Path
    </h1>

    <div style="text-align: center">
        <img style="width: 65px; height: 65px"  src="./sun.svg" alt="Sun Minimalistic Art">
    </div>
</div>